*
!*/

!*.h
!*.c
!*.hpp
!*.ipp
!*.tpp
!*.cpp
!*.in

!*.vert
!*.geom
!*.frag
!*.vs
!*.gs
!*.fs
!*.glsl

!.build2/**
!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest
!*testscript

!*.md

!.clang-format

!.git*

